.mat-button-toggle-group {
  margin-bottom: 2rem;
  width: 80%;
  align-self: center;
  .mat-button-toggle {
    flex-grow: 1;
  }
}

mat-nav-list {
  > mat-list-item {
    mat-progress-bar {
      height: 1rem;
    }
    .mat-line.info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      > span {
        width: 8rem;
        &.size,
        &.speed {
          text-align: right;
        }
      }
    }
  }
}

.content {
  height: calc(100vh - 5rem - 48px - 2rem);
  &.notask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  > .desc {
    font-weight: bold;
  }
  > .tip {
    font-size: small;
    color: gray;
  }
}

.statusbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: calc(100vw - 2rem);
  height: 2rem;
  padding: 0.5rem 1rem;
  background-color: white;
  font-size: small;
  color: gray;
  z-index: 1;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.05);
  > .state {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: gray;
    &.true {
      color: darkolivegreen;
    }
    &.false {
      color: red;
    }
  }
  > .speed {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
