<div class="window">

  <h2>连接状态：{{ status }}</h2>

  <div class="content">
    <!-- <button mat-button (click)="sync('active')">下载中</button>
    <button mat-button (click)="sync('waiting')">已暂停</button>
    <button mat-button (click)="sync('stopped')">已结束</button> -->

    <mat-button-toggle-group (change)="sync($event.value)" color="primary">
      <mat-button-toggle value="active" [checked]="true">下载中</mat-button-toggle>
      <mat-button-toggle value="waiting">已暂停</mat-button-toggle>
      <mat-button-toggle value="stopped">已结束</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-nav-list *ngIf="tasks; else noTaskTemplate">
      <mat-list-item *ngFor="let task of tasks; trackBy:trackByGID">
        <img mat-list-avatar src="/assets/icon-test.png" />
        <p mat-line>{{ task.files[0].path.slice(task.dir.length + 1) }}</p>
        <mat-progress-bar mat-line [mode]="task.status === 'active' ? 'buffer' : 'determinate'"
          [color]="(task.status === 'paused' && 'accent') || (task.status === 'error' && 'warn')"
          [value]="task.completedLength / task.totalLength * 100">
        </mat-progress-bar>

        <p mat-line class="info">
          <span class="percent">{{ task.completedLength / task.totalLength | percent:'2.1-1'}}</span>
          <span class="size">{{ task.totalLength / 1000 / 1000 | number: '1.0-0' }} MB</span>
          <span class="speed">
            <ng-container *ngIf="task.status === 'active'">{{ task.downloadSpeed / 1000 | number:'1.0-0' }} KB/s
            </ng-container>
            <ng-container *ngIf="task.status === 'paused'">已暂停</ng-container>
            <ng-container *ngIf="task.status === 'complete'">已完成</ng-container>
            <ng-container *ngIf="task.status === 'error'">已失败</ng-container>
          </span>
        </p>
        <!-- <button mat-icon-button>
            <mat-icon>chat</mat-icon>
          </button> -->
      </mat-list-item>
    </mat-nav-list>
    <ng-template #noTaskTemplate>
      <p>没有任务</p>
    </ng-template>

  </div>

</div>
