<mat-tab-group mat-stretch-tabs (selectedIndexChange)="sync($event)">

  <mat-tab>
    <ng-template mat-tab-label>
      <i class="ri-download-line"></i>
      <span>下载中</span>
    </ng-template>

    <mat-nav-list class="content" *ngIf="activeTasks && activeTasks.length; else noTaskTemplate">
      <mat-list-item *ngFor="let task of activeTasks; trackBy:trackByGID">
        <img mat-list-avatar src="/assets/icon-test.png" />
        <p mat-line>{{ task.files[0].path.slice(task.dir.length + 1) }}</p>

        <mat-progress-bar mat-line mode="buffer" color="primary"
          [value]="task.completedLength / task.totalLength * 100">
        </mat-progress-bar>

        <p mat-line class="info">
          <span class="percent">{{ task.completedLength / task.totalLength | percent:'2.1-1'}}</span>
          <span class="size">{{ task.totalLength / 1000 / 1000 | number: '1.0-0' }} MB</span>
          <span class="speed">{{ task.downloadSpeed / 1000 | number:'1.0-0' }} KB/s</span>
        </p>
      </mat-list-item>
    </mat-nav-list>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <i class="ri-pause-line"></i>
      <span>已暂停</span>
    </ng-template>

    <mat-nav-list class="content" *ngIf="waitingTasks && waitingTasks.length; else noTaskTemplate">
      <mat-list-item *ngFor="let task of waitingTasks; trackBy:trackByGID">
        <img mat-list-avatar src="/assets/icon-test.png" />
        <p mat-line>{{ task.files[0].path.slice(task.dir.length + 1) }}</p>
        <mat-progress-bar mat-line mode="determinate" color="accent"
          [value]="task.completedLength / task.totalLength * 100">
        </mat-progress-bar>

        <p mat-line class="info">
          <span class="percent">{{ task.completedLength / task.totalLength | percent:'2.1-1'}}</span>
          <span class="size">{{ task.totalLength / 1000 / 1000 | number: '1.0-0' }} MB</span>
          <span class="speed">已暂停</span>
        </p>
      </mat-list-item>
    </mat-nav-list>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <i class="ri-stop-line"></i>
      <span>已结束</span>
    </ng-template>

    <mat-nav-list class="content" *ngIf="stoppedTasks && stoppedTasks.length; else noTaskTemplate">
      <mat-list-item *ngFor="let task of stoppedTasks; trackBy:trackByGID">
        <img mat-list-avatar src="/assets/icon-test.png" />
        <p mat-line>{{ task.files[0].path.slice(task.dir.length + 1) }}</p>
        <mat-progress-bar mat-line mode="determinate" [color]="task.status === 'error' && 'warn'"
          [value]="task.completedLength / task.totalLength * 100">
        </mat-progress-bar>

        <p mat-line class="info">
          <span class="percent">{{ task.completedLength / task.totalLength | percent:'2.1-1'}}</span>
          <span class="size">{{ task.totalLength / 1000 / 1000 | number: '1.0-0' }} MB</span>
          <span class="speed">
            <ng-container *ngIf="task.status === 'complete'">已完成</ng-container>
            <ng-container *ngIf="task.status === 'error'">已失败</ng-container>
          </span>
        </p>
      </mat-list-item>
    </mat-nav-list>
  </mat-tab>

</mat-tab-group>

<ng-template #noTaskTemplate>
  <div class="notask content">
    <p class="desc">暂无下载任务</p>
    <p class="tip">点击右上角添加试试？</p>
  </div>
</ng-template>



<!-- <mat-nav-list *ngIf="tasks; else noTaskTemplate">
  <mat-list-item *ngFor="let task of tasks; trackBy:trackByGID">
    <img mat-list-avatar src="/assets/icon-test.png" />
    <p mat-line>{{ task.files[0].path.slice(task.dir.length + 1) }}</p>
    <mat-progress-bar mat-line [mode]="task.status === 'active' ? 'buffer' : 'determinate'"
      [color]="(task.status === 'paused' && 'accent') || (task.status === 'error' && 'warn')"
      [value]="task.completedLength / task.totalLength * 100">
    </mat-progress-bar>

    <p mat-line class="info">
      <span class="percent">{{ task.completedLength / task.totalLength | percent:'2.1-1'}}</span>
      <span class="size">{{ task.totalLength / 1000 / 1000 | number: '1.0-0' }} MB</span>
      <span class="speed">
        <ng-container *ngIf="task.status === 'active'">{{ task.downloadSpeed / 1000 | number:'1.0-0' }} KB/s
        </ng-container>
        <ng-container *ngIf="task.status === 'paused'">已暂停</ng-container>
        <ng-container *ngIf="task.status === 'complete'">已完成</ng-container>
        <ng-container *ngIf="task.status === 'error'">已失败</ng-container>
      </span>
    </p>
  </mat-list-item>
</mat-nav-list> -->
