.mat-button-toggle-group {
  width: 80%;
  align-self: center;
  .mat-button-toggle {
    flex-grow: 1;
  }
}

mat-nav-list {
  > mat-list-item {
    mat-progress-bar {
      height: 1rem;
    }
    .mat-line.info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      > span {
        width: 8rem;
        &.size,
        &.speed {
          text-align: right;
        }
      }
    }
  }
}
