// src/styles.scss

// Fira Code Font
@import url("https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css");

// Remix Icon Font
@import "~remixicon/fonts/remixicon.css";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$custom-typography: mat-typography-config(
  $font-family: '"Fira Code","Consolas",  "Roboto",  "Helvetica Neue",  sans-serif'
);
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$edusys-primary: mat-palette($mat-blue);
$edusys-accent: mat-palette($mat-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$edusys-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$edusys-theme: mat-light-theme($edusys-primary, $edusys-accent, $edusys-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($edusys-theme);

// Global font & size
body {
  margin: 0;
  font-family: "Fira Code", "Consolas", "Roboto", "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  background-color: #fafafa;
}

// Mobile device
@media only screen and (max-width: 599px) {
  :root {
    font-size: calc(100vw / 36);
  }

  body {
    font-size: 1.4rem;
  }
}

// Table device
@media only screen and (min-width: 600px) and (max-width: 1023px) {
  :root {
    font-size: calc(100vw / 80);
  }

  body {
    font-size: 1.4rem;
  }
}

// Desktop device
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  :root {
    font-size: calc(100vw / 102.4);
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1439px) {
  :root {
    font-size: calc(100vw / 128);
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1599px) {
  :root {
    font-size: calc(100vw / 144);
  }
}

@media only screen and (min-width: 1600px) {
  :root {
    font-size: calc(100vw / 160);
  }
}

// Scroll bar
::-webkit-scrollbar-track-piece {
  background-color: #fff;
  border-radius: 0;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: #afafaf;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

:root {
  -webkit-tap-highlight-color: transparent;
}

// Reset style
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: unset;
  text-decoration: unset;

  &:hover {
    color: unset;
  }
}

// Fix material style
// Fix place holder vertical-align
mat-hint,
mat-error,
mat-label {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;

  > span {
    margin-left: 0.4rem;
  }
}

.fit-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 599px) {
    width: 80vw;
    max-height: 80vh;
    overflow: auto;

    mat-form-field {
      width: 100%;
    }
  }
}

.mat-card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05) !important;
  // box-shadow     : 0 10px 20px -25px rgba(0, 0, 0) !important;

  .mat-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.6rem;

    .mat-card-subtitle {
      margin-bottom: 0;
    }
  }

  .mat-card-content {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 0;
  }
}

.mat-expansion-panel {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05) !important;
}

i {
  font-size: 1.6rem;
  padding: 0 0.25rem;

  &.bold {
    font-weight: bold;
    padding: 0 0.5rem;
  }

  &.small {
    font-size: 1.2rem;
  }

  &.small {
    font-size: 1.4rem;
  }

  &.normal {
    font-size: 1.6rem;
  }

  &.large {
    font-size: 1.8rem;
  }

  &.x-large {
    font-size: 2rem;
  }

  &.xx-large {
    font-size: 2.2rem;
  }
}
