/node_modules/
/client/node_modules/
/server/node_modules/

/package-lock.json
/client/package-lock.json
/server/package-lock.json

/out/
/client/out/
/server/out/

/build/
/client/build/
/server/build/

/dist/
/client/dist/
/server/dist/

**.db
**.log
/client/.firebase/
