// src/app/page/upload/upload.component.scss

mat-toolbar {
  background-color: white;
}

.window {
  padding: 1.5rem;

  .mat-grid-tile {
    overflow: visible;
    max-width: 400px;
  }

  .mat-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 80%;

    .mat-card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .file-name {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80%;
        white-space: nowrap;
      }
    }
  }
}
