<!-- src/app/app.component.html -->

<mat-toolbar color="primary">
  <button mat-icon-button [matTooltip]="navigation.tip" [routerLink]="navigation.link">
    <i class="{{ navigation.icon }} large"></i>
  </button>
  <span class="title">{{ title }}</span>
  <span style="flex-grow: 1;"></span>
  <button mat-icon-button (click)="addTaskDialog()">
    <mat-icon>add</mat-icon>
  </button>
  <!-- <button mat-button (click)="test()">test</button> -->
</mat-toolbar>

<div id="wave"></div>

<section class="outlet">
  <!-- <router-outlet name="list"></router-outlet> -->
  <router-outlet></router-outlet>
</section>
