<!-- src/app/app.component.html -->

<mat-toolbar color="primary">
  <button mat-icon-button [matTooltip]="navigation.tip" [routerLink]="navigation.link">
    <i class="{{ navigation.icon }} large"></i>
  </button>
  <span class="title">{{ title }}</span>
  <span style="flex-grow: 1;"></span>
  <button mat-icon-button (click)="addTaskDialog()">
    <mat-icon>add</mat-icon>
  </button>
  <!-- <button mat-button (click)="test()">test</button> -->
</mat-toolbar>

<div id="wave"></div>

<section class="outlet">
  <!-- <router-outlet name="list"></router-outlet> -->
  <router-outlet></router-outlet>
</section>

<div class="statusbar">
  <div class="state {{ state }}">
    <i
      class="{{ (state === undefined && 'ri-loader-2-line') || (state === true && 'ri-check-line') || (state === false && 'ri-close-line') }}"></i>
    <span>{{ (state === undefined && '连接中') || (state === true && '已连接') || (state === false && '未连接') }}</span>
  </div>
  <div class="speed">
    <i class="ri-arrow-up-down-line"></i>
    <span>{{ (downloadSpeed + uploadSpeed) / 1000 | number:'1.0-0' }} KB/s</span>
  </div>
</div>
