<!-- src/app/app.component.html -->

<mat-toolbar color="primary">
  <button mat-icon-button [matTooltip]="navigation.tip" [routerLink]="navigation.link">
    <i class="{{ navigation.icon }} x-large"></i>
  </button>
  <span class="title">{{ title }}</span>
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
</mat-toolbar>

<div class="toolbar">
  <button mat-raised-button color="primary">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-raised-button color="primary">
    <mat-icon>sort_by_alpha</mat-icon>
  </button>
  <button mat-raised-button color="primary">
    <mat-icon>select_all</mat-icon>
  </button>
  <button mat-raised-button color="primary">
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button mat-raised-button color="primary">
    <mat-icon>pause</mat-icon>
  </button>
</div>

<div id="wave"></div>

<section class="outlet">
  <router-outlet></router-outlet>
</section>
